@model Category

@{
    ViewData["Title"] = "Add Category Page";
}

    <div class="text-center">
        <h1 class="display-4">Add Category</h1>

        <partial name="_Category" model="@Model" />
    </div>
