@model ProductViewModel

@{
    ViewData["Title"] = "Edit Product Page";
}

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="display-4">Product: @Model.Product?.Name</h1>
    }

    <partial name="_Product" model="@Model" />
</div>